<div class="header-welcome">
	<div class="shell">
		<div class="header__content">
			<h2>{{ 'customer.misc.welcome' | t }} {{ customer.first_name }}!</h2>

			<a href="#" class="ship-link">
				Your next box ships
				<strong>September 31</strong>
			</a>
		</div><!-- /.header__content -->
	</div><!-- /.shell -->
</div><!-- /.header-welcome -->
