<header class="header-steps">
	<div class="shell">
		<div class="header__inner">
			<a href="/" class="logo">
				<img src="{{ 'logo-alt.png' | asset_url }}" alt="">
			</a>
		</div><!-- /.header__inner -->
	</div><!-- /.shell -->
</header><!-- /.header-steps -->