<div class="content__head">
  {% if page.title != blank and section.settings.show_title %}
    <h1>{{ page.title }}</h1>
  {% endif %}

  {% if page.content != blank and section.settings.show_description %}
    <div class="content__head-entry">
      {{ page.content }}
    </div><!-- /.content__head-entry -->
  {% endif %}
</div><!-- /.content__head -->

<div class="content__body">
  {% for block in section.blocks %}
    {% case block.type %}
    {% when 'hero' %}
      {% include 'section-page-hero' _section: block.settings %}
    {% when 'paragraph' %}
      {% include 'section-page-paragraph' _section: block.settings %}
    {% when 'columns' %}
      {% include 'section-page-columns' _section: block.settings %}
    {% when 'outro' %}
      {% include 'section-page-banner' _section: block.settings %}
    {% endcase %}
  {% endfor %}
</div><!-- /.content__body -->

{% schema %}
    {
        "name": "Section Widgets",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_title",
            "label": "Show page title?",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_description",
            "label": "Show page description?",
            "default": false
          }
        ],
        "blocks": [
            {
              "type": "hero",
              "name": "Hero",
              "settings": [
          		{
          			"type": "image_picker",
          			"id": "image",
          			"label": "Image",
          			"info": "Recommended width: 2048px."
          		},
          		{
          			"type": "textarea",
          			"id": "title",
          			"label": "Title"
          		},
          		{
          			"type": "textarea",
          			"id": "description",
          			"label": "Description"
          		},
          		{
          			"type": "textarea",
          			"id": "mobile_description",
          			"label": "Mobile Description"
          		},
          		{
          			"type": "text",
          			"id": "button_label",
          			"label": "Button Label"
          		},
          		{
          			"type": "url",
          			"id": "button_link",
          			"label": "Button Link"
          		},
          		{
          			"type": "select",
          			"id": "content_position",
          			"label": "Content Position",
          			"options": [
          		      {
          		        "value": "left",
          		        "label": "Left"
          		      },
          		      {
          		        "value": "right",
          		        "label": "Right"
          		      }
          		    ],
          		    "default":   "left"
          		}
              ]
            },
            {
              "type": "text-image",
              "name": "Info",
              "settings": [
                  {
                      "type": "select",
                      "id": "img_placement",
                      "label": "Image Placement",
                      "options": [
                        { "value": "img_left", "label": "Image Left"},
                        { "value": "img_right", "label": "Image Right"}
                      ],
                      "default": "img_right"
                  },
                  {
                      "type": "image_picker",
                      "id": "image",
                      "label": "Image",
                      "info": "751 x 731px recommended"
                  },
                  {
                      "type": "text",
                      "id": "title",
                      "label": "Heading",
                      "default": "The Story"
                  },
                  {
                      "type": "richtext",
                      "id": "entry",
                      "label": "Text"
                  },
                  {
                      "type": "text",
                      "id": "btn_text",
                      "label": "Button Text",
                      "default": "Find a Gigi’s"
                  },
                  {
                      "type": "url",
                      "id": "btn_link",
                      "label": "Button Link"
                  }
              ]
            },
            {
              "type": "text-text",
              "name": "Double Text",
              "settings": [
                  {
                    "type": "header",
                    "content": "Text Block 1"
                  },
                  {
                      "type": "text",
                      "id": "title_1",
                      "label": "Heading",
                      "default": "The Story"
                  },
                  {
                      "type": "richtext",
                      "id": "entry_1",
                      "label": "Text"
                  },
                  {
                      "type": "text",
                      "id": "btn_text_1",
                      "label": "Button Text",
                      "default": "Find a Gigi’s"
                  },
                  {
                      "type": "url",
                      "id": "btn_link_1",
                      "label": "Button Link"
                  },
                  {
                    "type": "header",
                    "content": "Text Block 2"
                  },
                  {
                      "type": "text",
                      "id": "title_2",
                      "label": "Heading",
                      "default": "The Story"
                  },
                  {
                      "type": "richtext",
                      "id": "entry_2",
                      "label": "Text"
                  },
                  {
                      "type": "text",
                      "id": "btn_text_2",
                      "label": "Button Text",
                      "default": "Find a Gigi’s"
                  },
                  {
                      "type": "url",
                      "id": "btn_link_2",
                      "label": "Button Link"
                  }
              ]
            },
            {
              "type": "paragraph",
              "name": "Paragrph",
              "settings": [
                  {
                      "type": "text",
                      "id": "title",
                      "label": "Heading",
                      "default": "The Story"
                  },
                  {
                      "type": "range",
                      "id": "header_size",
                      "label": "Heading Size",
                      "min": 20,
                      "max": 80,
                      "step": 5,
                      "unit": "px",
                      "default": 80
                  },
                  {
                      "type": "select",
                      "id": "alignment",
                      "label": "Heading Alignment",
                      "default": "center",
                      "options": [
                         { "value": "left", "label": "left"},
                         { "value": "center", "label": "center"},
                         { "value": "right", "label": "right"}
                      ]
                  },
                  {
                      "type": "richtext",
                      "id": "entry",
                      "label": "Text"
                  }
              ]
            },
            {
              "type": "columns",
              "name": "Columns",
              "settings": [
                  {
                    "type": "header",
                    "content": "Section"
                  },
                  {
              			"type": "text",
              			"id": "title",
              			"label": "Section Title"
              		},
                  {
                    "type": "header",
                    "content": "Column 1"
                  },
                  {
          					"type": "text",
          					"id": "title_col_1",
          					"label": "Title"
          				},
          				{
          					"type": "textarea",
          					"id": "content_col_1",
          					"label": "Content"
          				},
          				{
          					"type": "image_picker",
          					"id": "image_col_1",
          					"label": "Image",
          					"info": "Recommended height: 260px."
          				}
                  {
                      "type": "header",
                      "content": "Column 2"
                  },
                  {
          					"type": "text",
          					"id": "title_col_2",
          					"label": "Title"
          				},
          				{
          					"type": "textarea",
          					"id": "content_col_2",
          					"label": "Content"
          				},
          				{
          					"type": "image_picker",
          					"id": "image_col_2",
          					"label": "Image",
          					"info": "Recommended height: 260px."
          				}
                  {
                      "type": "header",
                      "content": "Column 3"
                  },
                  {
          					"type": "text",
          					"id": "title_col_3",
          					"label": "Title"
          				},
          				{
          					"type": "textarea",
          					"id": "content_col_3",
          					"label": "Content"
          				},
          				{
          					"type": "image_picker",
          					"id": "image_col_3",
          					"label": "Image",
          					"info": "Recommended height: 260px."
          				}
              ]
            },
            {
              "type": "products",
              "name": "Products",
              "settings": [
                  {
                      "type": "text",
                      "id": "title",
                      "label": "Heading",
                      "default": "Shop"
                  },
                  {
                      "type": "collection",
                      "id": "collection_products",
                      "label": "Collection"
                  }
              ]
            },
            {
              "type": "banner",
              "name": "Banner",
              "settings": [
              {
          			"type": "textarea",
          			"id": "title",
          			"label": "Title"
          		},
          		{
          			"type": "text",
          			"id": "button_label",
          			"label": "Button Label"
          		},
          		{
          			"type": "url",
          			"id": "button_link",
          			"label": "Button Link"
          		},
          		{
          			"type": "image_picker",
          			"id": "image",
          			"label": "Background Image",
          			"info": "Recommended width: 2048px."
          		}
              ]
            }
        ]
    }
{% endschema %}
