{% assign products_per_page = settings.collections_products_per_page %}

{% if settings.collections_sort_enable %}
	{% include 'collection-sorting' %}
{% endif %}

{% paginate collection.products by 10 %}
	{% include 'breadcrumbs' %}

	<div class="collection-head">
		<h1>{{ collection.title }}</h1>
		
		{% if collection.description != blank %}
			<div class="collection-description">
				{{ collection.description }}
			</div><!-- /.collection-description -->
		{% endif %}
	</div><!-- /.collection-head -->
	
	<div class="collection-products">
		<div class="inner_wrapper">
			{% include 'grid-classes', item_for_check: settings.grid_num_collection %}
		
			{% for product in collection.products %}
			
				{% include 'product-item' %}

			{% else %}
				<div class="grid__item">
					<p><em>{{ 'collections.general.no_matches' | t }}</em></p>
				</div>
			{% endfor %}
		</div><!-- /.inner_wrapper -->
	</div><!-- /.collection-products -->

	{% include 'pagination' %}
{% endpaginate %}
